/*Theme Colors*/

:root {
    /*Primary Colors*/
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /*Secondary Colors*/
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: Dark grayish blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

:root {
    /*Component Radii*/
    --border-radius-outer: 15px;
    --border-radius-inner: 10px;
}

/*Global styles*/

body {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body p {
    font-size: 0.875rem;
    font-family: "Montserrat";
}


/*Main component*/

.product-card-component {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 1rem;
    border-radius: var(--border-radius-outer);
    overflow: hidden;
}

.product-card-content-container {
    display: flex;
    flex-direction: column;
    padding: 1.75rem;
    background-color: var(--white);
}

.product-category {
    font-family: "Montserrat";
    font-size: 0.875rem;
    letter-spacing: 0.35rem;
}

.product-name {
    font-family: "Fraunces";
    font-size: 2rem;
    line-height: 1em;
    margin: 1rem 0;
    font-weight: 700;
    color: var(--dark-grayish-blue);
}

.product-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}

.product-price {
    font-family: "Fraunces";
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-cyan);
}

.product-discount {
    flex: 1;
    font-family: "Montserrat";
    font-size: 0.875rem;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.add-to-cart-btn {
    display: flex;
    background-color: var(--dark-cyan);
    block-size: 3rem;
    border-radius: var(--border-radius-inner);
    border: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.add-to-cart-btn a {
    color: var(--white);
    font-family: "Montserrat";
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
}

@media screen and (min-width: 40rem) {
    .product-card-component {
        flex-direction: row;
    }
}

/*Footer*/

footer {
    position: absolute;
    bottom: 0;
}

footer .attribution {
  text-align: center;
  font-size: 0.6875rem;
  font-weight: 700;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}
